<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <link rel="stylesheet" href="../styles/index.css">
  <title>CronoMouse</title>
</head>
<body>
  <!-- <h1>CronoMouse</h1> -->  
  <img class="cronoMouse"  src="../img/CronoMouse text.png" width="30%" style="margin-bottom: 20px;">
  <button class="btn" onclick="location.href='cronometro_caja.html'">Cronómetro Caja</button>
  <button class="btn" onclick="location.href='cronometro_y.html'">Cronómetro Laberinto Y</button>
  <button class="btn" onclick="location.href='cronometro_objetos.html'">Cronómetro Objetos</button>
  <button class="btn" onclick="location.href='cronometro_varios.html'">Cronómetros Varios</button>
</body>
</html>
