.contenedor-boton {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 8px;
}
.zona {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mini-btn {
    padding: 5px 8px;
    font-size: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}
.cambiar { background-color: #2196F3; }
.anadir { background-color: #4CAF50; }
.eliminar { background-color: #f44336; }