.botones-principales {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
  padding: 0 40px;
}

.objeto {
  display: flex;
  flex-direction: column; /* elementos en columna */
  align-items:center;
  justify-content: center;
  width: 150px;   /* más grande */
  height: 150px;  /* más grande */
  margin: 10px 20px;
  padding: 15px;
  border-radius: 50%;
  font-size: 16px;
  color: white;
  cursor: pointer;
  border: none;
  background: #3f51b5;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  transition: transform 0.2s;
}

.objeto:hover {
  transform: scale(1.1);
}

.objeto img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.texto-boton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nombre {
  font-size: 16px;
  margin-bottom: 6px;
}

.tiempo {
  font-size: 16px;
  font-weight: bold;
}

/* Menú para móviles */

@media (max-width: 768px) {
.botones-principales {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
  padding: 0 40px;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column; /* Apila los elementos verticalmente */  
}
}

@media (max-width: 768px) and (orientation: landscape) {

body {
  display: flex;  
  width: 100%;
  height: 100%;
}

.botones-principales {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
  padding: 0 40px;
  flex-direction:row;
}

.objeto{
    margin: 10px 120px;
}
}